
body{
    text-align: center;
    background-color: #f03917;
    padding: 0;
    margin: 0;
    min-width: calc(300px 
    + 30px);
}

#stage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.square{
    height: 150px;
    width: 150px;
    background-color: black;
    border: 2px red solid;
    border-radius: 10px;
    display: inline-block;
    
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}

.o{
    position: relative;
}

.o::after{
    content: "\274C";
    font-size: 50px;
    position: absolute;
    line-height: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.x{
    position: relative;
}


.x::after{
    content: "\2B55";
    font-size: 50px;
    position: absolute;
    line-height: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

.in{
    padding: 10px;
    background-color: black;
    border:#f03917;
    border-radius: 10px;
    color: #f03917;
}
.in:focus{
    border: red 2px solid;
}

#btn{
    padding: 10px 20px;
    margin: 13px 10px;
    background-color: #f03917;
    color: black;
    font-weight: 600px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
}

@media screen  and (max-width:768px){

    #stage{flex-direction: column; margin-top: 50px; gap: 20px;}
    .square{
        width: 100px;
        height: 100px;
    }
    

}

